<div class="header">
  <div class="header__head">
    <img class="header__foot" src="../../assets/images/foot.png" alt="code"/>
    <div class="header__links">
      <a href="/">Home</a>
      <a href="/">Products</a>

      <div class="header__shopping-cart">
        <img class="header__foot" src="../../assets/images/shopping-cart.png" alt="code"/>
        <div class="header__product-counter">{{(this.shoppingCartService.amountOfSelectedProducts() | async) || ''}}</div>
      </div>
    </div>
  </div>

  <div class="header__text">
    <div class="header__title">Our clothing , your comfort</div>
    <div class="header__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
  </div>

  <div class="header__arrow"></div>
</div>
