<div>
  <div class="subfooter">
    <img class="subfooter__bird" src="../../assets/images/bird.png" alt="code"/>
    <div class="subfooter__text">“ E-commerce psd theme available ”</div>
  </div>

  <div class="footer">
    <div class="footer__left">
      <div class="footer__text">
        <p>TREKKING</p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo
        consequat.
      </div>
    </div>

    <div class="footer__right">
      <div class="footer__links">
        <a href="/">credits</a> |
        <a>Privacy</a> |
        <a>about</a> |
        <a>contact</a>
      </div>
      <div class="footer__copyright">Design by gianluca cosetta</div>
    </div>
  </div>

</div>

