
.cart {
  padding: 30px 170px 50px;

  &__title {
    font-size: 47px;
    color: #7d704f;
    padding: 52px 98px 58px 210px;
    background-color: #f5f6f7;
  }

  &__notification {
    font-size: 24px;
    color: #635e3c;
    margin-bottom: 52px;
    margin-top: 46px;
  }

  &__product {
    padding: 20px;
    border: 1px #aa9b77 solid;
    height: 190px;
    margin-bottom: 22px;
    background-color: #f5f6f7;
  }

  &__product-img-container {
    display: inline-block;
    text-align: center;
    line-height: 181px;
    margin-left: -10px;
    margin-right: 36px;
    width: 115px;
  }

  &__product-img {
    display: inline-block;
    height: 150px;
    vertical-align: middle;
  }

  &__product-information {
    display: inline-block;
    font-size: 23px;
    vertical-align: middle;
  }

  &__product-name {
    padding-bottom: 17px;
    font-size: 28px;
  }

  &__summary {
    padding: 36px 0 40px 37px;
    width: 350px;
    position: relative;
  }

  &__price {
    display: inline-block;
    font-size: 30px;

  }

  &__button {
    display: inline-block;
    background-color: #aa9b77;
    font-size: 28px;
    cursor: pointer;
    padding: 7px 40px;
    border-radius: 4px;
    color: white;
    position: absolute;
    right: -94px;
    bottom: 34px;
  }
}
