<div class="cart">

  <div class="cart__title">
    Shopping cart
  </div>
  <div class="cart__notification" *ngIf="!(this.shoppingCartService.selectedProductsIds | async).length">Your shopping cart is
    empty. You can go to the catalog and add products
  </div>

  <div class="cart__product" *ngFor="let product of products$ | async">

    <app-checkbox (valueChanged)="toggleProductInOrder(product.id)"></app-checkbox>

    <div class="cart__product-img-container">
      <img class="cart__product-img" [src]="product.img" alt="product">
    </div>
    <div class="cart__product-information">
      <div class="cart__product-name">{{product.name}}</div>
      <div>For {{product.sex}}</div>
      <div>Size: {{product.size}}</div>
      <div>{{product.price}},00$</div>
    </div>

  </div>

  <div class="cart__summary">
    <div class="cart__price">Total price: {{totalPrice$ | async}},00$</div>
    <div class="cart__button" (click)="checkout()">BUY</div>
  </div>

</div>




