<div class="filter">
  <div class="filter__controls">
    <app-checkbox (valueChanged)="toggleSex(sex.men)"
                  [checked]="sexesChecked[sex.men] | async">MEN</app-checkbox>
    <app-checkbox (valueChanged)="toggleSex(sex.women)"
                  [checked]="sexesChecked[sex.women] | async">WOMEN</app-checkbox>
    <app-checkbox (valueChanged)="toggleSex(sex.children)"
                  [checked]="sexesChecked[sex.children] | async">CHILDREN</app-checkbox>
  </div>

  <div routerLink="/cart" style="display: inline-block; font-size: 40px">CART</div> //for debugging

  <div class="filter__button" (click)="seeAllProducts()">
    SEE ALL PRODUCTS
  </div>
</div>
